.container {
  width: 80%;
  margin: auto;
  text-align: center;
}

.btn-block {
  display: block;
  margin: 0 auto;
  width: 55%;
}

.dice {
  text-align: center;
  display: inline-block;
  margin: 0 auto;
}

body {
  background-color: #393e46;
}

h1 {
  font-family: "Bungee", cursive;
  text-shadow: 5px 0 #232931;
  line-height: 8rem;
  font-size: 7rem;
  color: #01d28e;
  margin: 3.5rem 0px 0.5rem;
}

p {
  font-size: 2rem;
  color: white;
  text-shadow: 5px 0 #232931;
  font-family: "Indie Flower", cursive;
}

img {
  width: 15rem;
  margin: 0.5rem 0.5rem 3rem;
}

footer {
  margin-top: 5%;
  color: #eeeeee;
  text-align: center;
  font-family: "Indie Flower", cursive;
}
